
.flexh {
    display: flex;
    /*background-color: blue;*/
    align-content: center;
    flex-direction: row;
  }
  
  .flexh div {
    /*background-color: red;*/
    padding: 2px;
    
    margin-top: auto;
    margin-bottom: auto;
  }
  
  .align-middle {
    margin-top: auto;
    margin-bottom: auto;
  }